extends layout

block content
  img#pictureForside(src = "../../images/image1.jpg")
  p#fotoCreditForside Foto: Helene Høyer Mikkelsen 
  #box-a
    h3 Velkommen til 13.sæson
    p Pilates Matwork v. Tine Høeg, certificeret STOTT pilates instruktør
    p 8000 Aarhus C
    p 8270 Højbjerg
    p Antroposofisk Hus, Højbjerg Torv
  #box-b
    p Efter 10 timer føler du dig bedre tilpas
    p Efter 20 timer ser du bedre ud
    p Efter 30 timer har du en ny krop
    p1 Joseph Pilates

      