extends layout

block content
  .boxesHoldplan
    .box1
      img.hold(src="../../images/imagehold1.jpg", width='100%')
      h3 MANDAG KL:18:05-19:00 Letøvet/øvet
      p Mejlgade 44, Aarhus C
    .box2
      img.hold(src="../../images/imagehold2.jpg", width='100%')
      h3 TIRSDAG KL.08:00-08:55 Øvet
      p Antroposofisk Hus Højbjerg
    .box3
      img.hold(src="../../images/imagehold4.jpg", width='100%')
      h3 FREDAG kl.15:15-16:30 Meget øvet
      p Mejlgade 51A, st
