extends layout

block content
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias cumque aperiam enim non molestiae a provident eius ducimus, officiis sint natus itaque, aliquid quidem voluptatum rerum? Non est blanditiis dicta.