extends layout

block content
  .linksContainer
    a(href="http://balletakademiet.dk/") www.balletakademiet.dk/
    br
    br
    a(href="https://seierfitness.dk/") www.seierfitness.dk/  
    br
    br
    a(href="https://www.ossur.se/") www.ossur.se/ 
    br
    br
    p Össur forhandler bandager til reduktion af knæsmerter ved slidgigt. Jeg bruger selv deres Unloader One når jeg underviser og synes den hjælper mig. Knæet bliver aflastet og jeg har ikke så ondt i det efter en undervisningstime, som jeg havde tidligere.
