extends layout

block content
  img#pictureOmHoldene(src='../../images/image1.jpg', width='100%')
  p#fotoCreditOmHoldene Foto: Helene Høyer Mikkelsen 
  #text-boxOmHoldene
    p
      b Begynderhold
      br
      | Jeg har desværre ingen begynderhold i år. Hvis du ønsker introduktion, så du bliver i stand til at
      | følge et af holdene, kan vi aftale tid for introduktionstimer. De fleste har brug for 2 til 4 timers
      | intro.
    p
      b Let-øvede
      br
      | Jeg gennemgår de nye øvelser, hvis der er nye elever på holdet. Vi arbejder lidt med redskaber i
      | form af flexband, fitnesscirkel og den store Stability Ball.
    p
      b Øvede
      br
      | Et godt kendskab til de grundlæggende øvelser er nødvendigt, da vi gerne vil have tempoet op. Derfor
      | bliver kun få øvelser demonstreret. Vi tilføjer øvede øvelser, og arbejder desuden med flexband,
      | fitnesscirkel, små vægtbolde og den store Stability Ball.

    p Fredagsholdet bliver flyttet til Mejlgade 51A,st. Det bliver kl.15:15 - 16:30.
    p 
      b Meget øvede
      br
      | Vi arbejder med mange øvede øvelser samt øvelser for viderekomne. Der er desuden mulighed for at
      | arbejde med turnéring, hvis man er danser. Du skal ikke nødvendigvis være stærk nok til at kunne
      | udføre alle øvelserne, men du skal være godt inde i øvelserne, da tempoet er ret højt. Vi arbejder
      | meget med redskaber for at øge intensiteten.
    p
      | Alle hold: Max. 9 tilmeldte elever. Der er mulighed for at indhente mistede timer på andre hold,
      | derfor kan der forekomme timer med 10 elever.

