extends layout

block content
  img#pictureOmPilatesTop(src='../../images/imageOmPilates.jpg', width='100%')
  #text-box 
    p
      b Pilates
      |  er en effektiv træningsteknik som især styrker den dybe stabiliserende muskulatur og
      |  arbejder med muskelbalancen. Teknikken blev udviklet af Joseph H. Pilates i 1920'erne.
      |  STOTT PILATES er en videreudvikling af J. H. Pilates træning.
      |  Med hjælp fra fysioterapeuter, sportslæger, professionelle atleter og dansere, har tidligere
      |  balletdanserinde Moira Merrithew Stott indraget nutidens viden om kroppens anatomi og fysiologi i
      |  træningen.
    p
      b STOTT PILATES er ideel træning for alle
      | , både som træning på motionsniveau, genoptræning og
      |  somsupplement for toptrænede dansere eller idrætsudøvere.Med STOTT PILATES opnår du bl.a.:
    ul
      li Styrke af den dybe muskulatur
      li Forbedret kropsholdning
      li Forebyggelse af skader
      li Forbedret balance og koordination
      li Øget kropsbevidsthed
      li Længere og stærkere muskler
  img#pictureOmPilatesBund(src='../../images/imageHold4.jpg', width='100%')
  p#fotoCreditOmPilates Foto: Helene Høyer Mikkelsen
