extends layout

block content
  
  img#picturePriser(src='../../images/imagePriser.jpg', width='300', height='400')
  .priserTekst
    p
    b
    | Fra mandag d.2. september 2019 til og med
    | fredag d.8. november 2019
    p
    b (efterårsferie i uge 40 + 42 men træning i uge 41 )
    p
    b Man binder sig for en periode på 8 uger
    h4 *Studerende 10% rabat
    p
    | Betaling foregår kun via bank-overførsel. Enten via Netbank eller ved at besøge din bank.
    | Kontonummeret står på udleveret betalingsseddel.
    p
    | Sidste rettidige indbetaling er inden 1. træningsgang i perioden.
    br
    | Notér altid følgende ved indbetaling:
    p
    | Elev navn: Fornavn og efternavn
    br
    | Træningsdag: Mandag, tirsdag, onsdag, eller fredag.
    p
    | Mistede træningstimer kan indhentes på andre hold indenfor samme periode, hvis der er plads.
  .priserSkema
    #lineSeperator
      hr
    #priserLeft
      p 1 gang pr.uge
    #priserMiddle
      p 8 x 55 minutter
    #priserRight
      p 840 kr.
    #lineSeperator
      hr
    #priserLeft
      p 1 Fredagsholdet 1 1/4 time	
    #priserMiddle
      p 8 x 1 1/4 time	
    #priserRight
      p 1040 kr.
    #lineSeperator
      hr
    #priserLeft
      p 2 gange pr.uge		
    #priserMiddle
      p 16 x 55 minutter	
    #priserRight
      p 1500 kr.
    #lineSeperator
      hr
    #priserLeft
      p 2 gange pr. uge (fredag+ )			
    #priserMiddle
      p 8 x 2 1/4 time		
    #priserRight
      p 1690 kr.
    #lineSeperator
      hr
    #priserLeft
      p Studerende 1 gang pr.uge			
    #priserMiddle
      p 8 x 55 minutter		
    #priserRight
      p 755 kr.
    #lineSeperator
      hr
    #priserLeft
      p Studerende fredagsholdet		
    #priserMiddle
      p 8 x 1 1/4 time	
    #priserRight
      p 935 kr.
    #lineSeperator
      hr
    #priserLeft
      p Ene time
    #priserMiddle
      p 60 minutter	
    #priserRight
      p 600 kr.
    #lineSeperator
      hr
    #priserLeft
      p Studerende - Ene time
    #priserMiddle
      p 60 minutter	
    #priserRight
      p 540 kr.
    


