extends layout

block content
  #underviserOmTineHoeeg
    b Om Tine Høeg

    p 
      | Certificeret STOTT PILATES instruktør i Advanced Matwork (måtteøvelser for viderekomne)
      | uddannet hos Natural Balance i Aarhus.

    p 
      | Startede i 2007 pilatesafdelingen på Balletakademiet i Aarhus og underviser desuden i klassisk
      | ballet samme sted.
   
    p 
      | Underviser i pilates hos SeierFitness i Aarhus.
      | Har tidligere undervist flere år på uddannelsesstedet (Natural Balance), Fysio Egå, Fit&Sund
      | samt i Rundhøj Fysioterapi.

    p Uddannet sygeplejerske

  #underviserPilatesWorkshop
    b  Pilates Workshops:
    p  
      | Pre/post-natal Pilates workshop
      br
      | Post-natal Pilates workshop
      br
      | Cueing Formula for Success” workshop
      br
      | Mini Flex-Ball Workout
      br
      | Pilates with Props, level 1
      br
      | Pilates with Props, level 2
      br
      | Arc Barrel
      br
      | Functionel Fitness Circle
      br
      | Essential Matwork on Stability Cushions
      br
      | Lumbo-Pelvic Region: Stability & Function
      br
      | Matwork Interval training, level 2
      br
      | Matwork Flow conditioning Sequences
      br
      | Athletic Conditioning on the Stability Cushion
      br
      | Athletic Conditioning on the mat
      br
      | Pilates Matwork for Men
      br
      | Matwork Flow with Weights
      br
      | Pilates on the Barre, level 1

  #underviserPilatesKurser
    b Pilates kurser:
    p Injuries and special Populations
      br
    p 
      | Har danset klassisk ballet siden jeg var 6 år 
      br
      | gammel.
      br
      | Blev oplært som assistent for Kgl. Solodansere
      br
      | Ruth og Verner Andersen, og underviste i ballet
      br
      | på Jysk Balletakademi i Aarhus gennem 20 år.
      br
      br
      | Balletstudier i London og København.

  img#pictureUnderviser(src='../../images/imageUnderviser.jpg', width='100%')
  #underviserMedVenligHilsen
    p med venlighilsen
    br
    b XXXX XXXXXX